body {
    background-color: #04A6eb;
    color: #00ffff;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
button {
    padding: 5px 20px;
    background-color: #337ab7;
    border-style: none;
    color: #04A6eb;
}
input {
    height: 20px;
}
